click==7.1.1
cycler==0.10.0
Flask==1.1.2
Flask-Dropzone==1.5.4
Flask-Uploads==0.2.1
future==0.18.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.0
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.1.2
pyparsing==2.4.6
python-dateutil==2.8.1
six==1.14.0
https://download.pytorch.org/whl/cpu/torch-1.5.0%2Bcpu-cp38-cp38-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.0%2Bcpu-cp38-cp38-linux_x86_64.whl
# pip3 install torch==1.5.0+cpu torchvision==0.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
Werkzeug==0.16.1
python-decouple==3.3